{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li>
        <a href="{:url('index')}">日志管理</a>
    </li>
    <li class="active">
        <a href="">编辑日志</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('index')}">日志列表</a></li>
    <li class="active"><a href="">编辑日志</a></li>
</ul>
<form action="" method="post" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">日志管理</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="xj1" value="{$data.xj1}" placeholder="系统现金">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="xj2" value="{$data.xj2}" placeholder="实际现金">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="ce1" value="{$data.ce1}" placeholder="现金差额(负数为短款)">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="alipay1" value="{$data.alipay1}" placeholder="系统支付宝">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="alipay2" value="{$data.alipay2}" placeholder="实际支付宝">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="ce2" value="{$data.ce2}" placeholder="支付宝差额(负数为短款)">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="cdk" value="{$data.cdk}" placeholder="实际长短款(负数为短款)">
                </div>
                <div class="form-group">
                    <input type="number" step="0.01" class="form-control" name="jifen" value="{$data.jifen}" placeholder="积分兑换">
                </div>
                <input type="hidden" name="id" value="{:input('param.id')}">
                <button type="submit" class="btn btn-primary">添加</button>
            </div>
        </div>
    </div>
</form>
{/block}