<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志</title>
</head>
<body>
<form action="store" method="post">
    <table>
        <tr>
            <td>系统现金收入</td>
            <td>
                <input type="number" name="xj1">
            </td>
        </tr>
        <tr>
            <td>实际现金收入</td>
            <td>
                <input type="number" name="xj2">
            </td>
        </tr>
        <tr>
            <td>现金差额</td>
            <td>
                <input type="number" name="ce1">
            </td>
        </tr>
        <tr>
            <td>系统支付宝收入</td>
            <td>
                <input type="number" name="alipay1">
            </td>
        </tr>
        <tr>
            <td>实际支付宝收入</td>
            <td>
                <input type="number" name="alipay2">
            </td>
        </tr>
        <tr>
            <td>支付宝差额</td>
            <td>
                <input type="number" name="ce2">
            </td>
        </tr>
        <tr>
            <td>长短款(负数为短款)</td>
            <td>
                <input type="text" name="cdk">
            </td>
        </tr>
    </table>
    <input type="submit" value="添加">
</form>
{volist name='rizhi' id='r'}
{$r.id} /
系统现金收取{$r.xj1} /
实际现金收取{$r.xj2} /
系统差额{$r.ce1} /
系统支付宝收取{$r.alipay1} /
实际支付宝收取{$r.alipay2} /
实际差额{$r.ce2} /
长端口{$r.cdk}
{/volist}
</body>
</html>