{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li>
        <a href="{:url('index')}">日志管理</a>
    </li>
    <li class="active">
        <a href="">日志展示</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="">日志列表</a></li>
    <li><a href="{:url('store')}">添加日志</a></li>
</ul>
<ul class="list-group">
    {volist name='data' id='r'}
    <li class="list-group-item">
        {if condition="date('d', $r.created) eq date('d', time())"}
        <span class="badge">新</span>
        {/if}
        <a href="{:url('edit',['id'=>$r.id])}">
            <h4 class="list-group-item-heading">
                123
            </h4>
            <p class="list-group-item-text">
                <b>123</b> 添加于 <time>{:date('Y-m-d H:i:s', $r.created)}</time>
            </p>
        </a>
    </li>
    {/volist}
</ul>
<div class="pagination pagination-sm pull-right">
    {$data->render()}
</div>
{/block}