{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li>
        <a href="{:url('index')}">日志管理</a>
    </li>
    <li class="active">
        <a href="">日志展示</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="">日志列表</a></li>
    <li><a href="{:url('store')}">添加日志</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>序号</td>
                <td>系统现金</td>
                <td>实际现金</td>
                <td>现金差额(负数为短款)</td>
                <td>系统支付宝</td>
                <td>实际支付宝</td>
                <td>支付宝差额(负数为短款)</td>
                <td>实际长短款(负数为短款)</td>
                <td>积分兑换</td>
                <td width="200">添加时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='r'}
                <tr>
                    <td>{$r.id}</td>
                    <td>{$r.xj1}</td>
                    <td>{$r.xj2}</td>
                    <td>{$r.ce1}</td>
                    <td>{$r.alipay1}</td>
                    <td>{$r.alipay2}</td>
                    <td>{$r.ce2}</td>
                    <td>{$r.cdk}</td>
                    <td>{$r.jifen}</td>
                    <td>{:date('Y-m-d H:i:s', $r.created)}</td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary btn-x">操作<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="{:url('edit', ['id'=>$r.id])}">修改</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{:url('del', ['id'=>$r.id])}">删除</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>
<div class="pagination pagination-sm pull-right">
    {$data->render()}
</div>
{/block}