<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  # 绑定wap.programmer.org.cn 到 wap 子目录
  RewriteCond %{HTTP_HOST} ^loli\.kloli\.tk$ [NC]
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteRule ^(.*)$ public/$1 [L,QSA]
  #可以绑定多个 只需重复上三行代码并更改一下域名、目录名 就好了
</IfModule>