{extend name='base'/}
{block name='content'}
<form method="get" id="S" action="#">
    <div class="I">
        <input type="search" name="s" autocomplete="off" placeholder="搜索 (っ °Д °;)っ">
    </div>
    <ul id="Sl" class="h">
        <li>
            <a>
                <h3>键入内容索引文章</h3>
                <span>Type the content indexing articles.</span>
            </a>
        </li>
    </ul>
</form>
{volist name='data' id='a' empty='<p class=\"banner\">没有内容惹！ :(</p>'}
<article class="p">
    <a href="{:url('index/article/index', 'pid='$a.pid)}">
                <h2 class="p-title">{$a.title}</h2>
                <ul class="p-meta">
                    <!--<li>{$a.cate.name}</li>-->
                    <!--<li><a href="#!u/{{$a.authorId}">{$a.user.nickname}</a></li>-->
                    <li>
                        <time>{:date('Y-m-d H:i:s', $a.created)}</time>
                    </li>
                    <li>
                        <a href="http://service.weibo.com/share/share.php?url={:urlencode(url('index/article/index', ['pid'=>$a.pid]))}&title={$a.title}&pic='+encodeURIComponent(o[i].cover?'http://ww2.sinaimg.cn/mw1024/'+o[i].cover:INF.url+o[i].pic)+'&ralateUid=1687199364&language=zh_cn&appkey=1093396876" target="_blank">分享到微博</a>
                    </li>
                </ul>
                {if condition='$a.cover'}
                    <div class="cover"><img src="{$a.cover}" class="h" onload="this.className=''"></div>
                {/if}
            </a>
            <div class="markdown-body">{$a|mdToHtml=###,'text','list',url('index/article/index', 'pid='$a.pid)}</div>
        </article>
{/volist}
<div id="more">
    {$more}
</div>
{/block}