{extend name='base'/}
{block name='content'}
<a href="https://live.bilibili.com/13803" target="_blank"><h2 class="p-title">站长的哔哩哔哩直播间</h2></a>
<center>
    <embed height="600px" width="100%" class="livehime" allowFullScreenInteractive="true" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" AllowScriptAccess="always" rel="noreferrer" flashvars="room_id=13803&cid=13803&state=LIVE" src="https://static.hdslb.com/live-static/swf/LivePlayerEx_1.swf" type="application/x-shockwave-flash" allowfullscreen="true" quality="high" wmode="window"></embed>
</center>
{/block}