{extend name='base'}
{block name='content'}
<article class="p">
    <h2 class="p-title">{$post.title}</h2>
    <ul class="p-meta">
        <!--<li>{$post.cate.name}</li>-->
        <!--<li><a href="#!u/{$post.authorId}">{$post.user.nickname}</a></li>-->
        <li>
            <time>{$post.created|date='Y-m-d H:i:s',###}</time>
        </li>
        <li>
            <a href="http://service.weibo.com/share/share.php?url={:urlencode(url('index/article/index', ['pid'=>$post.pid]))}&title={$post.title}&pic={$a.cover?:'http://ww4.sinaimg.cn/large/64909e84jw1f9z5vrwrc3j20dc07ign4.jpg'}&ralateUid=1687199364&language=zh_cn&appkey=1093396876" target="_blank">分享到微博</a>
        </li>
    </ul>
    {if condition='$post.cover'}
    <div class="cover"><img src="{$post.cover}" class="h" onload="this.className=''"></div>
    {/if}
    <div class="markdown-body">{$post|mdToHtmlEx=###,'text'}</div>
</article>
<div id="tools">
    <a class="admire" disable="enable" onclick="(function($){$('#ZZ').css('display')==='none'?$('#ZZ').show():$('#ZZ').hide()})(jQuery);">打赏</a>
    <div id="ZZ" style="display: none;">
        eeeee
    </div>
</div>
<div class="cm-article" data-key="{$post.pid}"></div>
{/block}