{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li class="active">
        <a href="">站点设置</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="">站点设置</a></li>
</ul>
<style>
    .table th, .table td {
        /*text-align: center;*/
        vertical-align: middle!important
    }
</style>
<form action="" method="post" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:5%">序号</th>
                        <th>配置名称</th>
                        <th style="width:20%">设置值</th>
                        <th>描述</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name='setlist' id='set'}
                    <tr>
                        <td>{$set.webset_id}</td>
                        <td>{$set.webset_name}</td>
                        <td><input type="text" class="form-control" name="webset_value" value="{$set.webset_value}" onchange="change(this, {$set.webset_id})"></td>
                        <td>{$set.webset_des}</td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination pagination-sm pull-right"></div>
<script>
    function change(obj, webset_id){
        $.post('{:url('edit')}', {webset_id: webset_id, webset_value: $(obj).val()}, function(res){
            if(res.code){
//                util.message(res.msg, 'refresh','success')
                alert(res.msg);
                location.reload()
            }else{
//                util.message(res.msg, 'back','error')
                alert(res.msg)
            }
        }, 'json')
    };
</script>
{/block}