{extend name='base'/}
{block name='content'}
<script>
    var del = function(id) {
        var url = '{:url('del')}';
        // alert(id)
        $.post(url, 'id=' + id, function(r) {
            alert(r)
        })
    };
</script>
<form action="{:url('del')}" method="post" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">删除指定路径图片</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" name="path" class="form-control" placeholder="图片路径">
                </div>
                <button type="submit" class="btn btn-primary">删除</button>
            </div>
        </div>
    </div>
</form>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">图片列表</h3>
    </div>
    <div class="panel-body">
{volist name='file' id='f'}
        <div class="col-xs-2">
            <img src="{$f.path}" style="width: 200px;height: auto;cursor: pointer" onclick="window.open(this.src,'_image');return false">
            <p><a href="" class="btn">编辑</a>|<a href="javascript:del({$f.id})" class="btn">删除</a></p>
        </div>
{/volist}
    </div>
</div>
{/block}