{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li>
        <a href="{:url('index')}">友链管理</a>
    </li>
    <li class="active">
        <a href="">添加友链</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('index')}">友链列表</a></li>
    <li class="active"><a href="">添加友链</a></li>
</ul>
<form action="" class="form-horizontal" method="post">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="panel-title">友链管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <lable for="" class="col-sm-2 control-label">友链图标</lable>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="icon" placeholder="http://.* jpg">
                </div>
            </div>
            <div class="form-group">
                <lable for="" class="col-sm-2 control-label">友链名称</lable>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" placeholder="友链名称">
                </div>
            </div>
            <div class="form-group">
                <lable for="" class="col-sm-2 control-label">友链地址</lable>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="url" placeholder="http://">
                </div>
            </div>
            <div class="form-group">
                <lable for="" class="col-sm-2 control-label">友链描述</lable>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="des" placeholder="描述">
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">添加友链</button>
</form>
{/block}