{extend name='base'/}
{block name='content'}
<ol class="breadcrumb">
    <li>
        <a href="{:url('admin/index/index')}"><i class="fa fa-fw fa-cogs"></i>后台首页</a>
    </li>
    <li>
        <a href="{:url('index')}">文章管理</a>
    </li>
    <li class="active">
        <a href="">文章展示</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="">文章列表</a></li>
    <li><a href="{:url('store')}">添加文章</a></li>
</ul>
<ul class="list-group">
    {volist name='data' id='a'}
    <li class="list-group-item">
        {if condition="date('d', $a.created) eq date('d', time())"}
        <span class="badge">新</span>
        {/if}
        <a href="{:url('admin/article/edit',['pid'=>$a.pid])}">
            <h4 class="list-group-item-heading">
                <b>【{$a.cate.name}】</b>{$a.title}
            </h4>
            <p class="list-group-item-text">
                <b>{$a.user.nickname}</b> 发表于 <time>{:date('Y-m-d H:i:s', $a.created)}</time>
            </p>
        </a>
    </li>
    {/volist}
</ul>
<div class="pagination pagination-sm pull-right">
    {$data->render()}
</div>
{/block}